<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        Olá {{ $page.props.auth.user.name }}, conhecendo VILT
                        Stack
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <!-- Search input -->
            <div class="flex justify-left flex-1 lg:mr-32">
                <div
                    class="
                        relative
                        w-full
                        max-w-xl
                        mr-6
                        focus-within:text-purple-500
                    "
                >
                    <div class="absolute inset-y-0 flex items-center pl-2">
                        <svg
                            class="w-4 h-4"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </div>
                    <input
                        v-model="query"
                        name="query"
                        ref="query"
                        class="
                            w-full
                            pl-8
                            pr-2
                            text-sm text-gray-700
                            placeholder-gray-600
                            bg-gray-100
                            border-0
                            rounded-md
                            dark:placeholder-gray-500
                            dark:focus:shadow-outline-gray
                            dark:focus:placeholder-gray-600
                            dark:bg-gray-700
                            dark:text-gray-200
                            focus:placeholder-gray-500
                            focus:bg-white
                            focus:border-purple-300
                            focus:outline-none
                            focus:shadow-outline-purple
                            form-input
                        "
                        type="text"
                        placeholder="Busque por Nome, Email"
                        aria-label="Search"
                    />
                </div>
            </div>
        </div>

        <div class="py-2">
            <!-- Table -->
            <div class="min-h-screen max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr
                                class="
                                    text-xs
                                    font-semibold
                                    tracking-wide
                                    text-left text-gray-500
                                    uppercase
                                    border-b
                                    dark:border-gray-700
                                    bg-gray-50
                                    dark:text-gray-400 dark:bg-gray-800
                                "
                            >
                                <th class="px-4 py-3">#</th>
                                <th class="px-4 py-3">Nome</th>
                                <th class="px-4 py-3">E-mail</th>
                            </tr>
                        </thead>
                        <tbody
                            class="
                                bg-white
                                divide-y
                                dark:divide-gray-700 dark:bg-gray-800
                            "
                        >
                            <tr
                                class="text-gray-700 dark:text-gray-400"
                                v-for="item in this.users.data"
                                :key="item.id"
                            >
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <div>
                                            <p class="font-semibold">
                                                {{ item.id }}
                                            </p>
                                            <p
                                                class="
                                                    text-xs text-gray-600
                                                    dark:text-gray-400
                                                "
                                            >
                                                10x Developer
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{ item.name }}
                                </td>
                                <td class="px-4 py-3 text-xs">
                                    <span
                                        class="
                                            px-2
                                            py-1
                                            font-semibold
                                            leading-tight
                                            text-green-700
                                            bg-green-100
                                            rounded-full
                                            dark:bg-green-700
                                            dark:text-green-100
                                        "
                                    >
                                        {{ item.email }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="
                        grid
                        px-4
                        py-3
                        text-xs
                        font-semibold
                        tracking-wide
                        text-gray-500
                        uppercase
                        border-t
                        dark:border-gray-700
                        bg-gray-50
                        sm:grid-cols-9
                        dark:text-gray-400 dark:bg-gray-800
                    "
                >
                    <span class="flex items-center col-span-3">
                        Total {{ this.users.total }} registro (s)
                    </span>
                    <span class="col-span-2"></span>
                    <!-- Pagination -->
                    <span
                        class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end"
                    >
                        <nav aria-label="Table navigation">
                            <ul class="inline-flex items-center">
                                <li v-if="this.users.prev_page_url">
                                    <Link
                                        :href="this.users.prev_page_url"
                                        class="
                                            px-3
                                            py-1
                                            rounded-md rounded-l-lg
                                            focus:outline-none
                                            focus:shadow-outline-purple
                                        "
                                        aria-label="Previous"
                                    >
                                        <svg
                                            aria-hidden="true"
                                            class="w-4 h-4 fill-current"
                                            viewBox="0 0 20 20"
                                        >
                                            <path
                                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </Link>
                                </li>
                                <li
                                    v-for="link in paginationUsers"
                                    :key="link.label"
                                >
                                    <Link
                                        :href="link.url"
                                        :class="{
                                            'border-indigo-500 text-indigo-600':
                                                link.active,
                                        }"
                                        class="
                                            px-3
                                            py-1
                                            rounded-md
                                            focus:outline-none
                                            focus:shadow-outline-purple
                                        "
                                    >
                                        {{ link.label }}
                                    </Link>
                                </li>
                                <li v-if="this.users.next_page_url">
                                    <Link
                                        :href="this.users.next_page_url"
                                        class="
                                            px-3
                                            py-1
                                            rounded-md rounded-r-lg
                                            focus:outline-none
                                            focus:shadow-outline-purple
                                        "
                                        aria-label="Next"
                                    >
                                        <svg
                                            class="w-4 h-4 fill-current"
                                            aria-hidden="true"
                                            viewBox="0 0 20 20"
                                        >
                                            <path
                                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </Link>
                                </li>
                            </ul>
                        </nav>
                    </span>
                    <!-- Fim Pagination -->
                </div>
            </div>
            <!-- Fim table -->
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";

export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
        Link,
    },
    computed: {
        paginationUsers() {
            var pagination = [...this.users.links];

            pagination.shift();

            pagination.pop();

            // console.log(pagination);
            return pagination;
        },
    },
    watch: {
        query(newValue, oldValue) {
            this.onSubmit(newValue);
        },
    },
    data() {
        return {
            query: "",
        };
    },
    props: {
        users: {
            type: Object,
        },
    },
    methods: {
        onSubmit: function (query) {
            let search = query ?? this.query;

            this.$inertia.replace(
                this.route("dashboard", { query: search })
            );
        },
    },
};
</script>
